<!DOCTYPE HTML>
<html>
<head>
    <title>这是一个视图模板页(html)</title>
    {{{_sections.head}}}
</head>
<body>
    <h4>这是一个视图模板页</h4>
    <img src="/images/news01.jpg">
    {{{body}}}
    <script src="js/jquery-1.10.1.min.js" ></script>
    {{{_sections.jquery}}}

    <footer>{{copyrightYear}}  This is a footer and only clothes sheet shows copyrightYear '2017' before these words</footer>
</body>
</html>